body{
    font-family: Arial, sans-serif;
    background-color: #eae2b7;
    margin: 0;
}

header{
    background-color: #fcbf49;
    color: #003049;
    padding: 0 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero {
    width: 100%;
    height: 30vh;
    
    background-image: url("book_banner.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
}